<ion-view view-title="Question 1">
    <ion-content
            padding="false"
            has-tabs="true"
            has-header="true"
            >
        <div class="list card" style="margin-top: 100px; padding:10px;">
            <h4>
                We'd love to know who you are!
            </h4>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="What's your name?" ng-model="data.name">
            </label>
            <button  class="button button-block button-calm" ng-click="input1Submit()">Next Question!</button>
        </div>

    </ion-content>
</ion-view>
