<ion-view view-title="APP-Name">
    <ion-content
            padding="false"
            has-tabs="true"
            has-header="true"
            >
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.type">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.venue">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.location">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.date">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="blah blah" ng-model="data.eventimg">
            </label>
            <button  class="button button-block button-calm" ng-click="input1Submit()">Submit</button>
        </div>
    </ion-content>
</ion-view>
