<ion-view view-title="Question 3">
    <ion-content
            padding="false"
            has-tabs="true"
            has-header="true"
            >
        <div class="list card" style="margin-top: 100px; padding:10px;">
            <h4>
                All good ideas fulfill a need or solve a problem.
            </h4>
        </div>
        <div  class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="What problem does your business idea solve?" ng-model="data.question2">
            </label>
            <button  class="button button-block button-calm" ng-click="input3Submit()">Next Question!</button>
        </div>

    </ion-content>
</ion-view>
