<ion-view view-title="Question 4">
    <ion-content
            padding="false"
            has-tabs="true"
            has-header="true"
            >
        <div class="list card" style="margin-top: 100px; padding:10px;">
            <h4>
                The best companies have cool names like Twitter, Instagram, Spotify, and Youtube. Sometimes you can take two words and mash them together. You don’t even have to spell it right!
            </h4>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="What’s your business’ name?" ng-model="data.question3">
            </label>
            <button  class="button button-block button-calm" ng-click="input4Submit()">Next Question!</button>
        </div>
    </ion-content>
</ion-view>
